/*Body*/

.bg-gradient-purple {
  background: linear-gradient(to right, #672280, #A626D3);
}

.bg-purple-dark {
  background-color: #672280;
}

.border-purple-dark {
  border: 1px solid #672280;
}

.box {
  height: 50px;
  width: 50px;
  border: 1px solid #000000;
  display: inline-block;
  margin: 5px 0px 5px 0px;
}